@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --navbar-height: 50px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply text-dark bg-body-bg;
}

.nav-menu-scrollbar::-webkit-scrollbar{
  @apply w-1.5;
}

.nav-menu-scrollbar::-webkit-scrollbar-track{
  @apply bg-[#f1f1f1] rounded-md;
}

.nav-menu-scrollbar::-webkit-scrollbar-thumb{
  @apply bg-[#c1c1c1] hover:bg-[#a8a8a8] transition-all duration-200 rounded-md;
}
